<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="app/assets/css/home.css" rel="stylesheet" type="text/css" />
<style type="text/css"> 
#head1{
	background-color:#000000;
	padding-top:0px;
	height:50px;
	height-line:50px;
	width:100%;
	filter: alpha(opacity=0); 
	opacity: 0.8;
}
#head2{
	background-color:;
	background:url(app/assets/images/time8.jpg) no-repeat fixed 0px 0px;
	padding-top:80px;
	height:250px;
	width:100%;
}
</style>
</head>

<body>
<div id="head1"><img  src="app/assets/images/title.png" width="100" height="55" style="margin-left:50px"/><a style="margin-right:50px;margin-top:25px;float:right"href="logout"><font color="ffffff">logout</font></a></div>
<div id="head2" align="center" >
	
<img src="app/assets/images/home.png" width="750" height="215" />

</div> 

<div id="button1" align="center">
<a href="diary"><div id="button"><img class="button"src="app/assets/images/edit.png"  /></div></a><a href="showmap"><div id="button"><img class="button" src="app/assets/images/map_pin.png" /></div></a><a href="/circle/home"><div  id="button"><img class="button" src="app/assets/images/users.png" /></div></a><a href="timeline"><div  id="button"><img  class="button"src="app/assets/images/eye.png" /></div></a></div>

</body>
</html>
